@use "../../../../base/base";
@use "../../../../partials/mixins";
/* Icon Host */
@layer accessories {
    %icon-host,
    %icon-self {
        @include mixins.apply-module-options((
            --icon-width: 32px,
            --icon-height: 32px,
            --icon-color: currentColor,
            --icon-color-alt: var(--accent-color, royalblue),
        ), document-context, icons);
        // Calculated
        --icon-width-half: calc(var(--icon-width) / 2);
        --icon-width-negative: calc(0px - var(--icon-width));
        --icon-height-half: calc(var(--icon-height) / 2);
        --icon-height-negative: calc(0px - var(--icon-height));
        --icon-weight-half: calc(var(--icon-weight) / 2);
        /* Sides */
        --icon-weight-side-len: calc(var(--icon-weight) * cos(45deg));
        position: relative;
    }
    %icon-host {
        --icon-host-gap-before: 0px;
        --icon-host-gap-after: 5px;
        // Calculated
        --icon-host-x-padding: calc(var(--icon-width) + var(--icon-host-gap-before) + var(--icon-host-gap-after));
        --icon-host-y-padding: calc(var(--icon-height) + var(--icon-host-gap-before) + var(--icon-host-gap-after));
        &::before {
            position: absolute;
        }
    }
    %icon-self {
        display: inline-block;
        vertical-align: top;
    }
    // Top
    %icon-host-top {
        padding-top: var(--icon-host-y-padding);
    }
    %icon-host-top-regular {
        &::before {
            top: var(--icon-host-gap-before);
            left: calc(50% - var(--icon-width-half));
            content: "";
        }
    }
    %icon-host-top-regular-right {
        &::before {
            right: 0;
            left: auto;
        }
    }
    %icon-host-top-regular-left {
        &::before {
            left: 0;
        }
    }
    %icon-host-top-css {
        &::before,
        &::after {
            translate: 0 var(--icon-host-gap-before);
        }
    }
    // Right
    %icon-host-right {
        padding-right: var(--icon-host-x-padding);
    }
    %icon-host-right-regular {
        &::before {
            top: calc(1lh / 2 - var(--icon-height-half));
            right: var(--icon-host-gap-before);
            content: "";
        }
    }
    %icon-host-right-regular-top {
        &::before {
            top: 0;
        }
    }
    %icon-host-right-regular-bottom {
        &::before {
            top: auto;
            bottom: 0;
        }
    }
    %icon-host-right-regular-middle {
        &::before {
            top: calc(50% - var(--icon-height-half));
        }
    }
    %icon-host-right-css {
        &::before,
        &::after {
            translate: calc(0px - var(--icon-host-gap-before)) 0;
        }
    }
    // Bottom
    %icon-host-bottom {
        padding-bottom: var(--icon-host-y-padding);
    }
    %icon-host-bottom-regular {
        &::before {
            bottom: var(--icon-host-gap-before);
            left: calc(50% - var(--icon-width-half));
            content: "";
        }
    }
    %icon-host-bottom-regular-left {
        &::before {
            left: 0;
        }
    }
    %icon-host-bottom-regular-right {
        &::before {
            left: auto;
            right: 0;
        }
    }
    %icon-host-bottom-css {
        &::before,
        &::after {
            translate: 0 calc(0px - var(--icon-host-gap-before));
        }
    }
    // Left
    %icon-host-left {
        padding-left: var(--icon-host-x-padding);
    }
    %icon-host-left-regular {
        &::before {
            top: calc(1lh / 2 - var(--icon-height-half));
            left: var(--icon-host-gap-before);
            content: "";
        }
    }
    %icon-host-left-regular-top {
        &::before {
            top: 0;
        }
    }
    %icon-host-left-regular-bottom {
        &::before {
            top: auto;
            bottom: 0;
        }
    }
    %icon-host-left-regular-middle {
        &::before {
            top: calc(50% - var(--icon-height-half));
        }
    }
    %icon-host-left-css {
        &::before,
        &::after {
            translate: var(--icon-host-gap-before) 0;
        }
    }
    // Enclosed
    %icon-host-enclosed {
        --height: var(--icon-height);
        @extend %enclosed;
    }
    %icon-host-enclosed-regular {
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            content: "";
        }
    }
    // Hanging
    %icon-host-hanging-regular {
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            content: "";
        }
    }
    %icon-host-hanging-css {
        &::before,
        &::after {
            translate: var(--icon-host-gap-before) 0;
        }
    }
}