@layer root, normalize, base, type;
/* Base */
@layer normalize {
  body {
    margin: 0;
    padding: 0;
  }
  button {
    appearance: none;
  }
  :focus-visible {
    outline: none;
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
}
/* Button */
@layer normalize {
  button {
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    vertical-align: top;
  }
}
/* Base */
@layer base {
  :focus,
  :focus-visible {
    outline: solid 2px var(--accent-color);
    outline-offset: 1px;
  }
  .clickable {
    cursor: pointer;
  }
  .group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* Button */
@layer base {
  button,
  .button {
    --height: var(--button-height);
    --enclosed-height: calc(var(--button-height) - var(--button-border-width) * 2);
    --button-height-half: calc(var(--button-height) / 2);
    display: inline-flex;
    gap: 10px;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    min-height: var(--button-height);
    padding: var(--button-y-padding) var(--button-x-padding);
    border: solid var(--button-border-width) var(--button-border-color, rgb(from var(--opposite-contrast) r g b/0.1));
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    font: inherit;
    line-height: 1.2;
  }
  .button-active {
    background-color: var(--button-bg-color-rollover);
    color: var(--button-color);
  }
  button[disabled],
  .button-disabled {
    background-color: color-mix(in srgb, var(--contrast) 50%, var(--button-bg-color));
    color: color-mix(in srgb, var(--button-color) 50%, var(--contrast));
    cursor: not-allowed;
  }
  @media (hover: hover) {
    .button-hover, .button:not(.button-disabled):hover,
    button:not([disabled]):hover {
      background-color: var(--button-bg-color-rollover);
      color: var(--button-color);
      cursor: pointer;
    }
  }
}
/* Button */
@layer type {
  .button-danger {
    --button-bg-color: var(--danger-color);
    --button-bg-color-rollover: hsl(from var(--button-bg-color) h s calc(l - 10));
    --button-color: #fff;
  }
  .button-danger:focus, .button-danger:focus-visible {
    outline-color: var(--danger-color);
  }
  .button-accent {
    --button-bg-color: var(--accent-color);
    --button-bg-color-rollover: hsl(from var(--button-bg-color) h s calc(l - 10));
    --button-color: #fff;
  }
}
/* Document context */
@layer normalize {}
/* Document Context */
@layer base {
  html {
    height: 100%;
    text-rendering: optimizeSpeed;
  }
  body {
    min-height: 100%;
    min-width: 320px;
    background-color: var(--bg-color, #fff);
    color: var(--color, #000);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
  }
  body:fullscreen {
    overflow: auto;
  }
}
/* Root Properties */
@layer root {
  :root {
    color-scheme: light dark;
    --button-height: 40px;
    --button-bg-color: var(--fg-color);
    --button-bg-color-rollover: var(--fg-color-active);
    --button-color: var(--color);
    --button-border-width: 1px;
    --button-border-radius: calc(var(--button-height) / 2);
    --button-x-padding: 20px;
    --button-y-padding: 5px;
    --button-transition-speed: 0.15s;
    --container-width: 850;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-size: 14px;
    --line-height: 1.3571428571;
    --accent-color: #4169e1;
    --accent-color-active: rgb(39.9545454545, 85.2272727273, 221.0454545455);
    --danger-color: #f93a37;
    --danger-color-active: rgb(248.1145631068, 28.9281553398, 25.4854368932);
    --success-color: #129745;
    --success-color-active: rgb(16.2, 135.9, 62.1);
  }
  :root[data-theme=dark] {
    color-scheme: dark;
    --theme-binary: 0;
    --contrast: #000;
    --opposite-contrast: #fff;
    --bg-color: #212121;
    --mg-color: #171717;
    --mg-color-active: #1c1c1c;
    --fg-color: #2f2f2f;
    --fg-color-active: #3a3a3a;
    --ridge-color: #444;
    --color: #fff;
    --details-color: #888;
  }
  :root[data-theme=light] {
    color-scheme: light;
    --theme-binary: 1;
    --contrast: #fff;
    --opposite-contrast: #000;
    --bg-color: #fff;
    --mg-color: #f9f9f9;
    --mg-color-active: #ededed;
    --fg-color: #fff;
    --fg-color-active: #eee;
    --ridge-color: #e5e5e5;
    --color: #121212;
    --details-color: #7d7d7d;
  }
}

/*# sourceMappingURL=document.css.map */
