$custom-properties: (
    button: (),
    details: (),
    document-context: (),
    embed: (),
    form: (),
    form-extended: (),
    heading: (),
    hyperlink: (),
    image: (),
    inline-semantics: (),
    list: (),
    media: (),
    popover: (),
    progress: (),
    sectioning-content: (),
    structural-content: (),
    table: (),
    text-level-semantics: (),
);