@layer root, normalize, base, type;
/* Base */
@layer normalize {
  body {
    margin: 0;
    padding: 0;
  }
  :focus-visible {
    outline: none;
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
}
/* Heading */
@layer normalize {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font: inherit;
  }
}
/* Base */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    font-size: clamp(min(var(--font-size-min), var(--font-size)) * 1px, var(--font-size) * 100 / var(--container-width, 1000) * 1vw, var(--font-size) * 1px);
  }
  :focus,
  :focus-visible {
    outline: solid 2px var(--accent-color);
    outline-offset: 1px;
  }
  .clickable {
    cursor: pointer;
  }
  .group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* Heading */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    display: block;
    margin: 1em 0 0.5em;
    font-weight: 700;
    font-family: var(--heading-font-family);
    line-height: 1.3;
  }
  h1 {
    --font-size: 40;
    --font-size-min: 35;
  }
  h2 {
    --font-size: 35;
    --font-size-min: 30;
  }
  h3 {
    --font-size: 30;
    --font-size-min: 25;
  }
  h4 {
    --font-size: 25;
    --font-size-min: 20;
  }
  h5 {
    --font-size: 20;
    --font-size-min: 16;
  }
  h6 {
    --font-size: 16;
    --font-size-min: 14;
  }
}
/* Document context */
@layer normalize {}
/* Document Context */
@layer base {
  html {
    height: 100%;
    text-rendering: optimizeSpeed;
  }
  body {
    min-height: 100%;
    min-width: 320px;
    background-color: var(--bg-color, #fff);
    color: var(--color, #000);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
  }
  body:fullscreen {
    overflow: auto;
  }
}
/* Root Properties */
@layer root {
  :root {
    color-scheme: light dark;
    --heading-font-family: inherit;
    --container-width: 850;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-size: 14px;
    --line-height: 1.3571428571;
    --accent-color: #4169e1;
    --accent-color-active: #214cce;
    --danger-color: #f93a37;
    --danger-color-active: #f60b07;
    --success-color: #129745;
    --success-color-active: #0d6930;
  }
  :root[data-theme=dark] {
    color-scheme: dark;
    --theme-binary: 0;
    --contrast: #000;
    --opposite-contrast: #fff;
    --bg-color: #212121;
    --mg-color: #171717;
    --mg-color-active: #1c1c1c;
    --fg-color: #2f2f2f;
    --fg-color-active: #3a3a3a;
    --ridge-color: #444;
    --color: #fff;
    --details-color: #888;
  }
  :root[data-theme=light] {
    color-scheme: light;
    --theme-binary: 1;
    --contrast: #fff;
    --opposite-contrast: #000;
    --bg-color: #fff;
    --mg-color: #f9f9f9;
    --mg-color-active: #ededed;
    --fg-color: #fff;
    --fg-color-active: #eee;
    --ridge-color: #e5e5e5;
    --color: #121212;
    --details-color: #7d7d7d;
  }
}

/*# sourceMappingURL=document.css.map */
